#line{
height:2px;
position:absolute;
}

#dotl{
cursor:pointer;
position:absolute;
}


#dotr{
cursor:pointer;
position:absolute;
}

div.frameDiv{
width:64px;
height:50px;
border:thin solid #000000;
top:15px;
position:absolute;
cursor:pointer;
}

img.frameImg{
position:absolute;
top:0px;
left:0px;
}

div.num{
background-color:#ffffff;
position:absolute;
left:5px;
top:0px;
}

div.dotnum{
position:absolute;
}

#dot{
height:8px;
width:8px;

}