#video_line{
border:thin solid #000000;
background-color:#FFFFFF;
height:10px;
position:relative;
vertical-align:middle;
left:1px;
width:128px;
cursor:pointer;
}

#point{
left:0px;
position:absolute;
}

.videoFrame{
background-color:#000000;
cursor:pointer;
width:auto;
height:auto;
}

.number{
background-color:#ffffff;
position:absolute;
left:3px;
top:15px;
}

.videoImg{
position:absolute;
top:20px;
z-index:1;
}